@model Gadget_Gourmet.Models.Entities.Product

<div class="container">
	<div class="row ms-md-2 justify-content-center offset-md-3 mt-md-2">
		<div class="col-md-3 col-12">
			<div class="card text-bg-light mb-3 order-1" style="width: 18rem; font-family: Noah">
				<a asp-area="" asp-controller="Store" asp-action="Product">
				<img src="~/Images/home_images/drainer.svg" class="card-img-top" alt="...">
				</a>
				<div class="card-body">
					<h5 class="card-title fw-bold display-5">Drainer</h5>
					<p class="card-text">
						<font style="text-decoration: line-through">
							5000 Rs.
						</font>
						<font>
							&ensp; 4200 Rs.
						</font>
					</p>
					<a href="#" class="btn btn-primary">Add to Cart</a>
				</div>
			</div>
		</div>

		<div class="col-md-3 col-12">
			<div class="card text-bg-light mb-3 order-2" style="width: 18rem; font-family: Noah">
				<a asp-area="" asp-controller="Store" asp-action="Product">
					<img src="~/Images/home_images/drainer.svg" class="card-img-top" alt="...">
				</a>
				<div class="card-body">
					<h5 class="card-title fw-bold display-5">Drainer</h5>
					<p class="card-text">
						<font style="text-decoration: line-through">
							5000 Rs.
						</font>
						<font>
							&ensp; 4200 Rs.
						</font>
					</p>
					<a href="#" class="btn btn-primary">Add to Cart</a>
				</div>
			</div>
		</div>

		<div class="col-md-3 col-12">
			<div class="card text-bg-light mb-3 order-3" style="width: 18rem; font-family: Noah">
				<a asp-area="" asp-controller="Store" asp-action="Product">
					<img src="~/Images/home_images/drainer.svg" class="card-img-top" alt="...">
				</a>
				<div class="card-body">
					<h5 class="card-title fw-bold display-5">Drainer</h5>
					<p class="card-text">
						<font style="text-decoration: line-through">
							5000 Rs.
						</font>
						<font>
							&ensp; 4200 Rs.
						</font>
					</p>
					<a href="#" class="btn btn-primary">Add to Cart</a>
				</div>
			</div>
		</div>

	</div>

	<!--Second Row-->
	<div class="row ms-md-2 mt-md-2">
		<div class="col-md-4 col-12 align-contents-md-center">
			<div class="card text-bg-light mb-3 order-1" style="width: 18rem; font-family: Noah">
				<a asp-area="" asp-controller="Store" asp-action="Product">
				<img src="~/Images/home_images/drainer.svg" class="card-img-top" alt="...">
				</a>
				<div class="card-body">
					<h5 class="card-title fw-bold display-5">Drainer</h5>
					<p class="card-text">
						<font style="text-decoration: line-through">
							5000 Rs.
						</font>
						<font>
							&ensp; 4200 Rs.
						</font>
					</p>
					<a href="#" class="btn btn-primary">Add to Cart</a>
				</div>
			</div>
		</div>

		<div class="col-md-4 col-12">
			<div class="card text-bg-light mb-3 order-2" style="width: 18rem; font-family: Noah">
				<a asp-area="" asp-controller="Store" asp-action="Product">
					<img src="~/Images/home_images/drainer.svg" class="card-img-top" alt="...">
				</a>
				<div class="card-body">
					<h5 class="card-title fw-bold display-5">Drainer</h5>
					<p class="card-text">
						<font style="text-decoration: line-through">
							5000 Rs.
						</font>
						<font>
							&ensp; 4200 Rs.
						</font>
					</p>
					<a href="#" class="btn btn-primary">Add to Cart</a>
				</div>
			</div>
		</div>

		<div class="col-md-4 col-12">
			<div class="card text-bg-light mb-3 order-3" style="width: 18rem; font-family: Noah">
				<a asp-area="" asp-controller="Store" asp-action="Product">
					<img src="~/Images/home_images/drainer.svg" class="card-img-top" alt="...">
				</a>
				<div class="card-body">
					<h5 class="card-title fw-bold display-5">Drainer</h5>
					<p class="card-text">
						<font style="text-decoration: line-through">
							5000 Rs.
						</font>
						<font>
							&ensp; 4200 Rs.
						</font>
					</p>
					<a href="#" class="btn btn-primary">Add to Cart</a>
				</div>
			</div>
		</div>

	</div>

	<!--Third Row-->
	<div class="row ms-md-2 mt-md-2">
		<div class="col-md-4 col-12 align-contents-md-center">
			<div class="card text-bg-light mb-3 order-1" style="width: 18rem; font-family: Noah">
				<a asp-area="" asp-controller="Store" asp-action="Product">
					<img src="~/Images/home_images/drainer.svg" class="card-img-top" alt="...">
				</a>
				<div class="card-body">
					<h5 class="card-title fw-bold display-5">Drainer</h5>
					<p class="card-text">
						<font style="text-decoration: line-through">
							5000 Rs.
						</font>
						<font>
							&ensp; 4200 Rs.
						</font>
					</p>
					<a href="#" class="btn btn-primary">Add to Cart</a>
				</div>
			</div>
		</div>

		<div class="col-md-4 col-12">
			<div class="card text-bg-light mb-3 order-2" style="width: 18rem; font-family: Noah">
				<a asp-area="" asp-controller="Store" asp-action="Product">
					<img src="~/Images/home_images/drainer.svg" class="card-img-top" alt="...">
				</a>
				<div class="card-body">
					<h5 class="card-title fw-bold display-5">Drainer</h5>
					<p class="card-text">
						<font style="text-decoration: line-through">
							5000 Rs.
						</font>
						<font>
							&ensp; 4200 Rs.
						</font>
					</p>
					<a href="#" class="btn btn-primary">Add to Cart</a>
				</div>
			</div>
		</div>

		<div class="col-md-4 col-12">
			<div class="card text-bg-light mb-3 order-3" style="width: 18rem; font-family: Noah">
				<a asp-area="" asp-controller="Store" asp-action="Product">
					<img src="~/Images/home_images/drainer.svg" class="card-img-top" alt="...">
				</a>
				<div class="card-body">
					<h5 class="card-title fw-bold display-5">Drainer</h5>
					<p class="card-text">
						<font style="text-decoration: line-through">
							5000 Rs.
						</font>
						<font>
							&ensp; 4200 Rs.
						</font>
					</p>
					<a href="#" class="btn btn-primary">Add to Cart</a>
				</div>
			</div>
		</div>

	</div>

</div>