@model string

@Model

<h2>Manage Products</h2>
<div>
	<a asp-action="AddProduct" asp-controller="Admin">Add Product</a>
</div>

<div>
	<a asp-action="UpdateProduct" asp-controller="Admin">Update Product</a>

</div>

<div>
	<a asp-action="RemoveProduct" asp-controller="Admin">Delete Product</a>
</div>

<div>
	<a asp-action="AllProducts" asp-controller="Admin">View All Products</a>
</div>

<h2>Manage Users</h2>

<div>
	<a asp-action="AddUser" asp-controller="Admin">Add User</a>
</div>

<div>
	<a asp-action="UpdateUser" asp-controller="Admin">Update User</a>

</div>

<div>
	<a asp-action="RemoveUser" asp-controller="Admin">Delete User</a>
</div>

<div>
	<a asp-action="AllUsers" asp-controller="Admin">View All Users</a>
</div>

<h2>Categories Section</h2>

<div>
	<a asp-controller="Admin" asp-action="AddCategory">Add Category</a>
</div>

<div>
	<a asp-action="RemoveCategory" asp-controller="Admin">Remove Category</a>
</div>

<div>
	<a asp-action="UpdateCategory" asp-controller="Admin">Update Category</a>
</div>

<div>
	<a asp-action="AllCategories" asp-controller="Admin">All Categories with CRUD</a>
</div>