<br />

<span class="display-1 ps-md-2 fw-bold text-uppercase" style="font-family: Noah; font-size:170%; ">
	Contact Us
</span>

<form>
	<div class="container mb-3">
		<div class="row">
			<div class="col-md-5 col-12">
				<label for="exampleFormControlInput1" class="form-label" name="Email">Email address</label>
				<input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
			</div>
		</div>
	</div>

	<div class="container mb-3">
		<div class="row align-content-start">
			<div class="col-md-5 col-12">
				<label for="message" class="form-label" name="message">Message</label>
				<textarea class="form-control" id="message" name="message" rows="5" placeholder="Enter your message" required></textarea>
				<a href="ContactUs" class="custom-button text-center">Submit</a>
			</div>
		</div>
	</div>
	<br />
	<br />
	<br />



</form>