@{
	ViewData["Title"] = "Home Page";
}

<!--The Section 01-->
<div class="container-fluid bg-info" style="min-height: 500px; display: flex; align-items: center; justify-content: center;">
	<div class="row">
		<div class="col-md-4">
			<div class="row">
				<span class="display-4 fw-bold text-uppercase" style="font-family: 'Poppins', sans-serif; color: #3381f6;">Quality is Priority</span>
			</div>

			<div class="row">
				<span>Gadget Gourmet is the best </span>
				<span class="fw-bold fs-3 text-center">Online Shopping Store</span>
				<span>that features millions of Cutting-Edge</span>
				<span class="fw-bold fs-3 text-center">Kitchen Gadgets.</span>
			</div>
			<div class="row">
				<button type="button" class="btn btn-primary btn-lg text-uppercase" href="shop/index">Shop Now</button>
			</div>
		</div>

	</div>
</div>
