@{
	ViewData["Title"] = "Home Page";
}

<!--section 1-->
<div class="container-fluid d-flex fw-bold align-items-center justify-content-center" style="font-family: Noah; min-height: 500px; padding: 20px;
background-image: url('images/bgimage.jpg'); background-size: cover; background-position: center; background-repeat: no-repeat;">

	<div class="row justify-content-center">
		<div class="col-lg-8 col-md-10 col-sm-12">
			<div class="card text-center" style="width: 100%; background-color: transparent; border: none;">
				<div class="card-body" style="background-color: rgba(255, 255, 255, 0.5); border-radius: 15px;">
					<h2 class="card-title display-3 fw-bold text-uppercase">Gadget Gourmet</h2>
					<p class="card-text">
						Gadget Gourmet is the <span class="fw-bold">BEST</span> Online Shopping Store <br />
						that features millions of Cutting-Edge Kitchen Gadgets.
					</p>

					<div class="d-flex justify-content-center mt-md-4">
						<!-- Shop Now Button -->
						<a href="Store/index" class="btn btn-primary text-center custom-button fw-bold mx-2" style="width: 180px; height: 50px;">
							Shop Now
							<i class="bi bi-arrow-right"></i>
						</a>

						@* <!-- Learn More Button -->
						<a href="#" class="btn btn-light custom-button border-dark text-white fw-bold mx-2" style="width: 180px; height: 50px;">
							More ...
							<i class="bi bi-arrow-right"></i>
						</a> *@
					</div>

				</div>
			</div>
		</div>
	</div>
</div>

<!--Section 2 -->
<div class="container mt-md-5">
	<div class="row align-items-center">
		<div class="col-md-6 col-12 d-flex justify-content-center align-items-center">
			<img src="/images/home_images/spoon-home.svg" alt="Spoon View" class="img-fluid" />
		</div>

		<div class="col-md-6 col-12 text-center" style="font-family: Noah;">
			<span class="fw-bolder text-uppercase" style="font-size: clamp(1.5rem, 4vw, 3rem);">
				Elevate your kitchen with our eco-friendly bamboo cutlery set.
			</span>
		</div>
	</div>
</div>

<!--section 3-->
<div class="container mt-4">
	<div class="row align-content-center">
		<div class="col-md-6  align-self-center order-md-1 order-2 p-md-3" style="font-family: Noah">
			<span class="display-5 fw-bold text-uppercase">
				Save prime real estate on your kitchen counters with this over-the-sink dish rack
			</span>
			<div class="container text-center mt-5">
				<a href="#" class="custom-button fw-bold text-center" style="height: 50px">
					Shop Now
					<i class="bi bi-arrow-right"></i>
				</a>
			</div>
		</div>
		<div class="col-md-6 col-12 order-md-2 order-1 d-flex justify-content-md-evenly align-items-center">
			<img src="~/Images/home_images/drainer.svg" width="70%" height="80%" />
		</div>
	</div>
</div>

<!--Why US-->
<div class="container-fluid mt-4  border text-center" style="background-color: #f5f5f5; border-width: 5px; border-radius: 80px; font-family: Noah">
	<div class="display-3 fw-bold fw-bold text-uppercase">
		Why Us
	</div>
	<div class="fs-4 mb-2">
		Curated Selection: We handpick the most innovative and functional kitchen gadgets to simplify your cooking experience.
		Quality Assurance: Our products go through rigorous testing to ensure durability, efficiency, and premium quality.
		Customer Satisfaction: We prioritize your satisfaction with a seamless shopping experience, from browsing to delivery.
		Exclusive Offers: Enjoy competitive pricing, special deals, and exclusive discounts on top kitchen gadgets.
		Expert Support Our knowledgeable team is here to assist you with any queries or concerns, ensuring you get the most out of your purchases.
	</div>
</div>

