@{
	ViewData["Title"] = "Home Page";
}

<!--The Section 01-->
<div class="container-fluid bg-danger" style="font-family: Noah; min-width: 100%; min-height: 500px; display: flex; align-items: center; justify-content: center;">
	<div class="row ">
		<div class="col-md-6 bg-danger align-content-center">
			<div class="card" style="width: 30rem;">
				<div class="card-body justify-content-center">
					<h2 class="card-title display-3 fw-bold text-uppercase">Gadget Gourmet</h2>
					<p class="card-text">
						Gadget Gourmet is the BEST Online Shopping
						Store <br />that features millions of Cutting-Edge
						Kitchen Gadgets.
					</p>
					
					<div class="container text-center mt-5">
						<a href="#" class="custom-button fw-bold text-center" style="height: 50px">
							Shop Now
							<i class="bi bi-arrow-right"></i>
						</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<!--Section 2 -->
<div class="container mt-4">
	<div class="row align-items-center">
		<div class="col-md-6 col-12 d-flex justify-content-center align-items-center">
			<img src="/images/home_images/spoon-home.svg" alt="Spoon View" class="img-fluid" />
		</div>

		<div class="col-md-6 col-12 text-center" style="font-family: Noah;">
			<span class="fw-bolder text-uppercase" style="font-size: clamp(1.5rem, 4vw, 3rem);">
				Elevate your kitchen with our eco-friendly bamboo cutlery set.
			</span>
		</div>
	</div>
</div>

<!--section 2-->
<div class="container mt-4">
	<div class="row align-content-center">
		<div class="col-md-6  align-self-center order-md-1 order-2 p-md-3" style="font-family: Noah">
			<span class="display-5 fw-bold text-uppercase">
				Save prime real estate on your kitchen counters with this over-the-sink dish rack
			</span>
			<div class="container text-center mt-5">
				<a href="#" class="custom-button fw-bold text-center" style="height: 50px">
					Shop Now
					<i class="bi bi-arrow-right"></i>
				</a>
			</div>
		</div>
		<div class="col-md-6 col-12 order-md-2 order-1 d-flex justify-content-md-evenly align-items-center">
			<img src="~/Images/home_images/drainer.svg" width="70%" height="80%" />
		</div>
	</div>
</div>


