<span class="display-1 mt-2 ps-md-2 fw-bold text-uppercase" style="font-family: Noah; font-size:170%;">
	Unhappy with a Category, Just Remove It!
</span>

<div class="mb-md-5">
	<form class="mt-3 mb-4" method="post" asp-action="RemoveCategory">
		<div class="container mb-3">
			<div class="row">
				<div class="col-md-5 col-12">
					<label for="Id" class="form-label">Category Id</label>
					<input type="number" class="form-control" id="Id" name="id" required>
				</div>
			</div>
		</div>

		@if (ViewBag.ErrorMessage != null)
		{
			<div class="alert alert-danger">@ViewBag.ErrorMessage</div>
		}

		<button type="submit" class="custom-button text-center">Remove</button>
	</form>
</div>

<div class="container-fluid mt-5" style="font-family: Noah">
	<div class="row">
		<a class="nav-link text-dark" asp-controller="Admin" asp-action="Index">Return to Admin Panel</a>
	</div>
</div>
